<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Movie Details</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/app.css" />
    <script src="assets/js/color-modes.js"></script>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header class="p-3 text-bg-dark">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <a
            href="/"
            class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none logo"
          >
            <h5 class="m-0">
              MovieApp <span class="badge bg-warning warn__badge">Lite</span>
            </h5>
          </a>

          <ul
            class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
          >
            <li>
              <a
                href="index.html"
                class="nav-link px-2 text-secondary d-flex align-items-center column-gap-2"
              >
                <span>Home</span>
              </a>
            </li>
            <li>
              <a
                href="best.html"
                class="nav-link px-2 text-white d-flex align-items-center column-gap-2"
              >
                <span>Top Rated</span>
              </a>
            </li>
            <li>
              <a
                href="categories.html"
                class="nav-link px-2 text-white d-flex align-items-center column-gap-2"
              >
                <span>Genres</span>
              </a>
            </li>
          </ul>

          <div class="d-flex align-items-center text-end">
            <a
              href="login.html"
              class="btn btn-outline-light me-2 d-flex align-items-center column-gap-2"
            >
              <span>Login</span>
            </a>
            <a
              href="register.html"
              class="btn btn-warning d-flex align-items-center column-gap-2"
            >
              <span>Register</span>
            </a>
          </div>
        </div>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="one-movie">
          <div class="card mb-3 mt-3 one-movie__item">
            <div class="row g-3">
              <div class="col-md-4">
                <img
                  src="https://avatars.mds.yandex.net/get-kinopoisk-image/1773646/21324634-7afd-4443-8ac4-5c4097ac5b6c/600x900"
                  class="img-fluid rounded one-movie__image"
                  alt="Poster"
                />
                <form action="" class="m-3 w-100">
                  <select class="form-select" aria-label="Rating select">
                    <option selected>Rating</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                  <div class="form-floating mt-2">
                    <textarea
                      class="form-control"
                      placeholder="Write your opinion"
                      id="floatingTextarea2"
                      style="height: 100px"
                    ></textarea>
                    <label for="floatingTextarea2">Comment</label>
                  </div>
                  <button type="button" class="btn btn-primary mt-2">
                    Submit Review
                  </button>
                </form>
              </div>

              <div class="col-md-8">
                <div class="card-body">
                  <h1 class="card-title">The Boys</h1>
                  <p class="card-text">
                    Rating <span class="badge bg-warning warn__badge">7.9</span>
                  </p>
                  <p class="card-text">
                    The show takes place in a world where superheroes exist and
                    are treated like celebrities. But behind the glamorous
                    facade lies a darker reality filled with drugs and
                    corruption. A group known as "The Boys" sets out to expose
                    the truth.
                  </p>
                  <p class="card-text">
                    <small class="text-body-secondary"
                      >Added on 24/12/2023</small
                    >
                  </p>

                  <h4>Reviews</h4>
                  <div class="one-movie__reviews">
                    <div class="card">
                      <div class="card-header">User: hello@areaweb.su</div>
                      <div class="card-body">
                        <blockquote class="blockquote mb-0">
                          <p>
                            The show still offers brutal violence and scattered
                            gore. In fact, the early episodes of Season 3
                            include some of the most disgusting (but creatively
                            executed) scenes in the entire show.
                          </p>
                          <footer class="blockquote-footer">
                            Rating
                            <span class="badge bg-warning warn__badge">8</span>
                          </footer>
                        </blockquote>
                      </div>
                    </div>

                    <!-- Repeat this block for other reviews -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="py-3 mt-auto">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">Top Rated</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">Genres</a>
        </li>
      </ul>
      <p class="text-center text-body-secondary">&copy; 2023 MovieApp Lite</p>
    </footer>

    <script src="assets/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
